/* Stle reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Anton";
  src: url(../assets/Anton-Regular.ttf);
}
body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Man Navigation */
 header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
 }

#main-nav {
  height: 56px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.98);

}

.left-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 13%;
}

/* Left Icons */
.logo i {
  color: red;
  font-size: 1.5rem;
  padding-right: 2px;
}

.logo a{
  color: rgb(41, 40, 40);
  font-family: "Anton";
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
}

.search-bar {
  display: flex;
  justify-content: center;
  flex: 0 0 49%;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}

.search-bar input {
  width: 90%;
  padding: 0.4rem 0.6rem;
  border: none;
}
.search-bar input::placeholder {
  font-size: 1rem;
}

.search-bar input:focus {
  outline: 1px solid rgb(12, 117, 236);
}
.search-icon {
  background: #f0f0f0;
  width: 10%;
  text-align: center;
  border-left: 1px solid #ccc;;
}

.search-icon i {
  color: rgb(114, 112, 112);
  font-size: 1rem;
}
.menu-icon {
  margin-left: 1rem;
}
.menu-icon, .right-icons i {
  color: #606060;
  cursor: pointer;
}
.right-icons {
  display: flex;
  flex: 0 0 18%;
  justify-content: space-evenly;
  align-items: center;
}
.right-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Main Container */
#main-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  line-height: 1.2;
}

/* Left Navigation */
.left-nav {
  display: block;
  flex: 0 0 18%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  background: #fff;
  max-width: 18%;
  height: 100%;  
  position: fixed;
  top: 56px;
  left: 0;
  bottom: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2.0;

}
.left-nav:hover {
  overflow-y: scroll;
}


.nav-list {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 100%;
}
.nav-list a:hover {
  background: rgba(235, 235, 235, 0.76);
}
.nav-list a {
  display: block;
  width: 100%;
  color: rgb(29, 29, 29);
  font-family: Roboto, Noto, sans-serif;
  font-size: 14px;
  padding-left: 2rem;
  line-height: 2.4rem;
  align-self: center;
}
.nav-list i {
  color: #606060;
  margin-right: 1rem;
  font-size: 18px;
}

.current {
  font-weight: bold;
  background: #e5e5e5;
}
.current i {
  color: #f00;
}
.nav-list:first-child{
  padding-top: 1rem;
}
.nav-list i:last-child{
  padding-bottom: 0.5rem;
}
.nav-list img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  vertical-align: middle;
} 

.header-text {
  text-transform: uppercase;
  color: #606060;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 0 0.5rem 2rem;
  }

/* Left Nav Footer */
.left-nav-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
}

.left-nav-footer a {
  color: #606060;
  font-size: 13px;
  font-weight: 600;
  padding-right: 5px;
}
.top-footer {
  padding-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 9px;
}
.bottom-footer {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 9px;
}

.copyright {
  color: #909090;
  font-size: 13px;
  font-weight: 500;
  align-self: spa;
  margin-bottom: 1rem;
}

#container {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 80%;
  position: fixed;
  left: 18%;
  top: 56px;
  z-index: 10;
}

/* Recomendation tabs */
.recommendations {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  background: rgba(255, 255, 255, 0.98);
  padding: 0.9rem;
  position: sticky;
  top: 56px;
  right: 0;
  left: 18%;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);  
}
.recommendations a {
  font-size: 14px;
  font-family: "Roboto";
  color: #030303;
  background: #0000000D;
  padding: 0.4rem 0.8rem;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 1rem; 
}

.recommendations a:hover {
  background: rgba(0,0,0,0.1);
}

.recommendations a:first-child {
  color: #fff;
  background-color: #606060;
}

#content-container {
  position: relative;
  max-width: 82%;
  height: 100%;
  left: 18%;
  top: 56px;
  padding: 2rem 1rem 0 1rem;
  background: rgb(249,249,249);
  z-index: 5;
}
.video-section {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  height: 100%;
  justify-content: space-around;
  padding-bottom: 1rem;
  border-bottom: 4px solid rgb(0,0,0,0.1);
  
}

.videos {
  display: flex;
  flex-flow: column nowrap;
  width: 250px;
  height: 100%;
  margin: 1rem 5px;
}
.thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 1rem;
}
.user-thumb {
  flex-basis: 28%;
  align-self: flex-start;
  justify-self: flex-start;

}
.videos .title {
  flex-flow: 0 0 70%;
  margin-top: -0.1rem;
}
.user-thumb img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-info {
  color: #272727;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.main-text {
  font-size: 16px;
  font-weight: 600;
  color: #272727;
  margin-bottom: 0.5rem;
}

.sub-text {
  color: #606060;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.3;
}

.sub-text i {
  font-size: 10px;
}

/* Latest Posts */
.latest-posts {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  border-bottom: 4px solid rgb(0,0,0,0.1);
}

.post-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

.post-card {
  display: flex;
  flex-flow: column nowrap;
  width: 342px;
  background: #fff;
  padding: 1rem;
  border: 1px solid rgb(0,0,0,0.1);
  margin-top: 1rem;
}
.post-card:hover {
  cursor: pointer;
}

.post-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.post-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-content {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 15px;
}
.left-content {
  flex: 0 0 60%;
  font-size: 14px;
  line-height: 1.4;
  justify-self: center;
  align-self: flex-start;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}
.right-content {
  flex: 0 0 40%;
}
.right-content img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  color: #272727;
}
.latest-posts .header-info {
  margin-top: 1rem;
}

.latest-posts .post-icons {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
  margin-top: 5px;
}

.post-icons i {
  color: #909090;
  font-size: 1rem;
  margin-right: 10px;
}
.post-icons i:hover {
  color: #4d4d4d;
  cursor: pointer;
}
.upvotes {
  font-size: 14px;
  font-weight: 400;
  color: #4d4d4d;
  padding-right: 5px;
}

.more-icon {
  align-self: center;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.more-icon i {
  color: #4d4d4d;
  font-size: 15px;
  padding: 1rem;
}

.more-icon:hover {
  background: rgb(0,0,0,0.1);
  cursor: pointer;
}

.video-section:last-child {
  border-bottom: none;
  margin-top: 1rem;
}
.hover-icon i{
  color: #606060;
  cursor: pointer;
  visibility: hidden;
}
.hover-icon:focus{
  visibility: visible;
  
}
img:hover, .title  p:first-of-type:hover, .hover-icon:hover, .title h2:hover {
  cursor: pointer
}